# Ignore all
trabalho-pratico/src

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

a.out
*.o
*.exe
*users*.csv
*drivers*.csv
*rides*.csv
Resultados/
Resultados-expected/
*/datasets/

# Ignore default executable
programa-principal

*/build
input*.txt
*.pdf

# Ignore idea
/.idea/
/.vscode/

# LaTeX

!relatorio-fase1.pdf
!relatorio-fase2.pdf
*/Relatorio/*
!*/Relatorio/*.tex

# MacOS

.DS_Store

# Doxygen

*/doxygen-output/

# Python

/venv/

# Rust

Cargo.lock
**/target/
csv_generator