# Ignore all
trabalho-pratico/src

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

# Ignore default executable
a.out
*.o
*.exe
*users*.csv
*drivers*.csv
*rides*.csv
Resultados/
Resultados-expected/
programa-principal

*/build
input*.txt
*.pdf

# Ignore idea
/.idea/
/.vscode/

# LaTeX

!relatorio-fase1.pdf
*/Relatorio/*.aux
*/Relatorio/*.fdb_latexmk
*/Relatorio/*.fls
*/Relatorio/*.log
*/Relatorio/*.out
*/Relatorio/*.pdf
*/Relatorio/*.synctex.gz

# MacOS

.DS_Store

# Doxygen

*/doxygen-output/

# Python

/venv/

# Rust

Cargo.lock
**/target/
