# Ignore all
trabalho-pratico/src

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

# Ignore default executable
a.out
*.o
*.exe
*users*.csv
*drivers*.csv
*rides*.csv
Resultados/

*/build/*

# Ignore idea
/.idea/
/.vscode/
